@define-mixin borderHalfPx $borderColor: #e5e5e5, $borderRadius: 0, $borderTop: 0, $borderRight: 0, $borderBottom: 0, $borderLeft: 0, $borderStyle: solid {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
    box-sizing: border-box;
    pointer-events: none;
    border-radius: $(borderRadius) * 2;
    border: $(borderTop) $(borderStyle) $(borderColor);
    border-right-width: $(borderRight);
    border-bottom-width: $(borderBottom);
    border-left-width: $(borderLeft);
  }
}

.sun-line-round {
  @mixin borderHalfPx #e5e5e5, 0, 1px, 1px, 1px, 1px;
}
.sun-line-top {
  @mixin borderHalfPx #e5e5e5, 0, 1px, 0, 0, 0;
  /* 解决before内容盖住div, 点击失效的问题 (例如：点击input无法focus) */
  &:before {
    height: 0;
    bottom: initial;
  }
}
.sun-line-bottom {
  @mixin borderHalfPx #e5e5e5, 0, 0, 0, 1px, 0;
  &:before {
    height: 0;
    top: initial;
  }
}
.sun-line-left {
  @mixin borderHalfPx #e5e5e5, 0, 0, 0, 0, 1px;
  &:before {
    width: 0;
    right: initial;
  }
}
.sun-line-right {
  @mixin borderHalfPx #e5e5e5, 0, 0, 1px, 0, 0;
  &:before {
    width: 0;
    left: initial;
  }
}
.sun-line-top-bottom {
  @mixin borderHalfPx #e5e5e5, 0, 1px, 0, 1px, 0;
  &:before {
    width: 0;
    top: initial;
    bottom: initial;
  }
}
.sun-line-top-right {
  @mixin borderHalfPx #e5e5e5, 0, 1px, 0, 0, 1px;
  &:before {
    width: 0;
    top: initial;
    right: initial;
  }
}